@font-face {
	font-family: 'Kalpurush';
	src: url('fonts/Kalpurush.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Fallback font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600&display=swap');

body {
	font-family: 'Poppins', Kalpurush;
	sans-serif;
	background-color: #011c16;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #10b981;
}

.fade { animation-name: fade; animation-duration: 1s; }
@keyframes fade { from { opacity: .4 } to { opacity: 1 } }